.widnow_map {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media only screen and (min-width: 760px) {
  .widnow_map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.widnow_map .mapMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 760px) {
  .widnow_map .mapMenu {
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 30px;
  }
}

.widnow_map .mapMenu .mapMenuButton {
  text-align: center;
  background-color: #0c0;
  width: 120px;
  padding: 6px 1px;
  margin: 4px 0;
  border: 4px #0a0 outset;
  border-radius: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.widnow_map .mapMenu .mapMenuButton:hover {
  border-color: #0c0;
  background-color: #0e0;
}

.widnow_map .mapMenu .mapMenuButton:active {
  border-style: inset;
  padding: 7px 0px 5px 2px;
}

.widnow_map .mapMenu .mapMenuButton.active {
  background-color: #cc0;
  border-color: #aa0;
}

.widnow_map .mapMenu .mapMenuButton.active:hover {
  border-color: #cc0;
  background-color: #ee0;
}

.worldMapWindow {
  position: relative;
}

.worldMapWindow .worldmap {
  border-collapse: collapse;
  position: relative;
  left: 0;
  top: 0;
}

.worldMapWindow .worldmap td {
  padding: 0;
}

.worldMapWindow .helpDiv {
  position: absolute;
  border-style: ridge;
  border-color: #0a0;
}

.tableButton {
  margin: 30px auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.tableButton.moving {
  margin-top: 10px;
}

@media screen and (min-width: 760px) {
  .tableButton.moving {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media screen and (min-width: 760px) {
  .tableButton {
    margin: 0 40px;
  }
}

.tableButton .directButton {
  background-color: #0c0;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 24px;
  border: 2px outset #0a0;
}

.tableButton .directButton.active {
  background-color: #cc0;
  border: 2px inset #aa0;
}

.tableButton .directButton.button0 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.tableButton .directButton.button1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tableButton .directButton.button2 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tableButton .directButton.button3 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dexContainer {
  background-color: #05f;
  padding: 10px;
}

.dexContainer .dexPlace {
  width: auto;
  border: 3px solid #0ae;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #039;
}

@media screen and (min-width: 760px) {
  .dexContainer .dexPlace {
    width: 500px;
  }
}

.dexContainer .dexPlace .dexBaseStats {
  color: #0ae;
  margin: 5px;
}

.dexContainer .dexPlace .dexBaseStats .pokedexTableOfStats td {
  color: #0ae;
}

.dexContainer .dexPokemonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
  border: 3px solid #0ae;
  margin: 15px;
  background-color: #039;
}

@media screen and (min-width: 760px) {
  .dexContainer .dexPokemonList {
    width: 470px;
  }
}

.dexContainer .dexPokemonList .pokedexPokemon {
  width: 20px;
  height: 20px;
  margin: 2;
  padding: 2;
  background-color: #000;
  text-align: center;
  color: #0c0;
  border-radius: 20px;
  border: 2px #fff solid;
  cursor: pointer;
}

.languages {
  width: auto;
  border: 3px solid black;
  border-bottom-style: none;
  padding: 15px 0;
}

.languages .languages_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.languages .languages_container div {
  width: 80px;
  height: 60px;
  padding: 10px;
  margin-right: 5px;
}

.languages .languages_container img {
  border: 1px solid black;
}

.languages .languages_container .active {
  background-color: #ee0;
}

.login_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid black;
  width: auto;
  border-top-style: none;
  border-bottom-style: none;
  padding-top: 5px;
}

.login_tabs div {
  border: 3px solid black;
  border-left-style: none;
  padding: 5px;
}

.login_tabs .empty {
  width: 100%;
  border-right-style: none;
  border-top-style: none;
}

.login_tabs .active {
  border-bottom-style: none;
}

.login_content {
  border: 3px solid black;
  border-top-style: none;
}

.login_content div {
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  padding: 15px;
}

.login_content .active {
  display: block;
}

.login_content label {
  display: block;
  margin: 3px;
}

.login_content p {
  margin: 2px;
}

#login_errors {
  color: red;
}

.none {
  display: none;
}

.adminList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adminTask {
  text-align: center;
  background-color: #0cc;
  width: 150;
  padding: 6px 1px;
  margin: 0 2px;
  border: 4px #0aa outset;
}

.adminTask:hover {
  border-color: #0cc;
  background-color: #0ee;
}

.adminTask:active {
  border-style: inset;
  padding: 7px 0px 5px 2px;
}

.admFormTable {
  border: 2px solid #000;
}

.admFormTable tr td {
  border: 2px solid #000;
}

.admFormTable .admInput {
  width: 100%;
}

.admDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.admDetails p {
  margin: 5px;
}

.admMapItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10px;
}

.admMapItems div {
  padding: 2px;
  margin: 1px;
  border: 1px #000 solid;
}

.admMapItems .active {
  border-color: #ee0;
  background-color: #ff0;
}

.admInfo {
  margin: 10px;
  text-align: center;
}

.admMapTable {
  border-collapse: collapse;
  margin: 10px;
}

.admMapTable td {
  padding: 0;
  border: 1px #000 solid;
}

.admMoveTable {
  margin: 10px;
  border-collapse: separate;
  border-spacing: 0 2;
}

.admMoveTable tr {
  text-align: center;
  background-color: #cfc;
  cursor: pointer;
}

.admMoveTable tr td {
  padding: 5px;
}

.admMoveTable tr:hover {
  background-color: #ffc;
}

.admMoveTable tr:first-child {
  background: none;
  cursor: auto;
}

.admMoveTable tr:first-child:hover {
  background: none;
}

#admin_editTable {
  margin: 0 0 20px 20px;
}

.adminButton {
  background-color: #fcd;
  border: 2px outset #ebc;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: default;
}

.adminButton:active {
  border-style: inset;
}

.adm_buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.adminMoveEffectsTab {
  margin: 15 auto;
}

.adminMoveEffectsTab input {
  width: 100px;
}

.adminMoveEffectsTab select {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */