// .adminContainer
// {
//     display: flex;
// }

.adminList
{
    display: flex;
}

.adminTask
{
    text-align: center;
    width: $adm_taskSize;
    margin: 0 2px;
    background-color: $adm_taskColorIn;
    border-color: $adm_taskColorOut;

    &:hover
    {
        border-color: $adm_taskColorOut_active;
        background-color: $adm_taskColorIn_active;
    }
}

.admFormTable
{
    border: 2px solid $adm_borderColor;
    margin: 10px 0;
    
    tr td
    {
        border: 2px solid $adm_borderColor;
    }

    .admInput
    {
        width: 100%;
    }
}

.admDetails
{
    display: flex;
    padding: 10px;
    
    p
    {
        margin: 5px;
    }
}

.admMapItems
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;

    div
    {
        padding: 2px;
        margin: 1px;
        border: 1px $adm_borderColor solid;
    }

    .active
    {
        border-color: $adm_itemsColorOut;
        background-color: $adm_itemsColorIn;
    }
}

.admInfo
{
    margin: $adm_margin_medium;
    text-align: center;
}

.admMapTable
{
    border-collapse: collapse;
    margin: $adm_margin_medium;
    
    td
    {
        padding: 0;	
        border: $adm_mapBorder;
    }    
}


.admdatabaseTable
{
    margin: $adm_margin_medium;
    border-collapse: separate;
    border-spacing: 0 2px;
    
    tr
    {
        text-align: center;
        background-color: $adm_responseRow;
        cursor: pointer;

        td
        {
            padding: 5px;
        }

        &:hover
        {
            background-color: $adn_responseRow_active;
        }

        &:first-child
        {
            background: none;
            cursor: auto;
            &:hover
            {
                background: none;
            }
        }
    }
}

#admin_editTable
{
    margin: 0 0 20px 20px;
}

.adminButton
{
    background-color: $adm_button_colorIn;
    border-color: $adm_button_colorOut;
    width: max-content;
    margin: 0 5px;

    &:hover
    {
        background-color: $adm_button_colorIn_hover;
        border-color: $adm_button_colorOut_hover;
    }
}

.adm_buttonContainer
{
    display: flex;
    margin: $center_horizontal;
    width: max-content;
}

.adminMoveEffectsTab
{
    margin: 15px auto;  

    input,select
    {
        width: $adm_moveInputSize;
    }
}