$big_window: 760px;

$loginBorderSize: 3px;
$imageBorderSize: 1px;

$directButtons_radius: 15px;
$directButtons_size: 30px;

$buttonBorderSize_small: 2px;
$buttonBorderSize_medium: 4px;
$buttonBorderSize_big: 6px;

$buttonPadding_small: 5px 10px;
$buttonPadding_medium: 6px 1px;
$buttonPadding_big: 6px 1px;

$buttonPadding_small_active: 6px 9px 4px 11px;
$buttonPadding_medium_active: 7px 0 5px 2px;
$buttonPadding_big_active: 7px 0 5px 2px;

$dex_pokemon_size: 20px;

$adm_taskSize: 150px;
$adm_moveInputSize: 100px;
$adm_mapBorderSize: 1px;
$adm_margin_medium: 10px;