$login_border: $loginBorderSize $loginBorderColor solid;
$imageBorder: $imageBorderSize $imageBorderColor solid;
$center_horizontal: 0 auto;

$buttonCursor: pointer;

$adm_mapBorder: $adm_mapBorderSize $adm_borderColor solid;