.widnow_map
{
	max-width: max-content;

    @media only screen and (min-width: $big_window)
    {
        display: flex;
    }

    .mapMenu
    {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;

        @media screen and (min-width: $big_window)
        {
            display: block;
            flex-wrap: nowrap;
            margin: 0 30px;
        }
        .mapMenuButton
        {
            text-align: center;
            background-color: $button_colorIn;
            width: 120px;
            padding: 6px 1px;
            margin: 4px 0;
            border: 4px $button_colorOut outset;
            border-radius: 20px;
            height: max-content;
            cursor: pointer;

            &:hover
            {
	            border-color: $button_colorOut_hover;
            	background-color: $button_colorIn_hover;
            }

            &:active
            {
	            border-style: inset;
                padding: 7px 0px 5px 2px; 
            }

            &.active
            {
                background-color: $button_colorIn_active;
                border-color: $button_colorOut_active;

                &:hover
                {
                    border-color: $button_colorIn_active_hover;
	                background-color: $button_colorOut_active_hover;
                }
            }
        }

    }

}

.RESTAB
{
    border-spacing: 0;
    
    td
    {
        border-bottom: 1px black solid;
        width: 30;
        height: 30;
        border-right: 1px solid black;
        text-align: center;
    }
}