.worldMapWindow
{
    position: relative;
}

.worldMapWindow .worldmap
{
	border-collapse: collapse;
    position: relative;
	left: 0;
	top: 0;
}

.worldMapWindow .worldmap td
{
	padding: 0;	
}

.worldMapWindow .helpDiv
{
    position: absolute;
    border-style: ridge;
    border-color: green;
}

.widnow_map
{
	display: flex;
}

.mapMenu
{
	margin: 0 30px;
}

.mapMenuButton
{
    text-align: center;
    background-color: #0c0;
    width: 150px;
    padding: 6px 1px;
    margin: 4px 0;
    border: 4px #0a0 outset;
    border-radius: 20px;
}

.mapMenuButton:hover
{
	border-color: #0c0;
	background-color: #0e0;
}

.mapMenuButton:active
{
	border-style: inset;
    padding: 7px 0px 5px 2px; 
}

.mapMenuButton.active
{
    background-color: cc0;
    border-color: aa0;
}

.mapMenuButton.active:hover
{
    border-color: #cc0;
	background-color: #ee0;
}

.pokedex_okno
{
    display: flex;
}

.pokedex_buttons
{
    flex-basis: 50%;
}

.dexContainer
{
    background-color: #05f;
    padding: 10px;
}

.dexPlace
{
    width: 500px;
    border: 3px solid #0ae;
    border-radius: 10px;
    display: flex;
    background-color: #039
}

.dexBaseStats
{
    color: #0ae;
    margin: 5px;
}

.dexPokemonList
{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    border: 3px solid #0ae;
    margin: 15px;
    background-color: #039
}

.pokedexPokemon 
{
    width: 20;
    height: 20;
    margin: 2;
    padding: 2;
    background-color: #000;
    text-align: center;
    color: #0c0;
    border-radius: 15px;
    border: 2px #fff solid;
    cursor: pointer;
}

.pokedexTableOfStats tr td
{
    color:#0ae;
}