.worldmap
{
	border-collapse: collapse;
}

.worldmap td
{
	padding: 0;	
}

.widnow_map
{
	display: flex;
}

.mapMenu
{
	margin: 0 20px;
}


.mapMenuButton
{
    text-align: center;
    background-color: #0c0;
    width: 150;
    padding: 6px 1px;
    margin: 4 0;
    border: 4px #0a0 outset;
    border-radius: 20px;
}

.mapMenuButton:hover
{
	border-color: #0c0;
	background-color: #0e0;
}

.mapMenuButton:active
{
	border-style: inset;
    padding: 7px 0px 5px 2px; 
}

.mapMenuButton.active
{
    background-color: cc0;
    border-color: aa0;
}

.mapMenuButton.active:hover
{
    border-color: #cc0;
	background-color: #ee0;
}

.pokedex_okno
{
    display: flex;
}

.pokedex_buttons
{
    flex-basis: 50%;
}

.dexContainer
{
    background-color: #f00;
    padding: 10px;
}

.dexPlace
{
    width: 500px;
    border: 3px solid #fff;
    border-radius: 10px;
    display: flex;
}

.dexBaseStats
{
    color: #fff;
    margin: 5px;
}

.dexPokemonList
{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    border: 3px solid #fff;
    margin: 15px;
}

.pokedexPokemon 
{
    width: 20;
    height: 20;
    margin: 2;
    padding: 2;
    background-color: #000;
    text-align: center;
    color: #0c0;
    border-radius: 15px;
    border: 2px #fff solid;
    cursor: pointer;
}