.adminContainer
{
    display: flex;
    .adminTask
    {
        text-align: center;
        background-color: $adm_taskColorIn;
        width: 150;
        padding: 6px 1px;
        margin: 4 0;
        border: 4px $adm_taskColorOut outset;
        
        &:hover
        {
            border-color: $adm_taskColorOut_active;
            background-color: $adm_taskColorIn_active;
        }

        &:active
        {
            border-style: inset;
            padding: 7px 0px 5px 2px; 
        }
    }

    .admFormTable
    {
        border: 2px solid $adm_borderColor;
    
        tr td
        {
            border: 2px solid $adm_borderColor;
        }
    }

    
    .admDetails
    {
        display: flex;
        padding: 10px;
    
        p
        {
            margin: 5px;
        }
    }


    .admMapItems
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;
    
        div
        {
            padding: 2px;
            margin: 1px;
            border: 1px $adm_borderColor solid;
        }
    
        .active
        {
            border-color:#ee0;
            background-color: #ff0;
        }
    }
}