$big_window: 760px;
$map_borderColor: #0a0;
$button_colorIn: #0c0;
$button_colorOut: #0a0;
$button_colorIn_hover: #0e0;
$button_colorOut_hover: #0c0;
$button_colorIn_active: #cc0;
$button_colorOut_active: #aa0;
$button_colorIn_active_hover: #cc0;
$button_colorOut_active_hover: #ee0;
$directButtons_colorIn: #0c0;
$directButtons_colorOut: #0a0;
$directButtons_colorIn_active: #cc0;
$directButtons_colorOut_active: #aa0;
$directButtons_radius: 15px;
$directButtons_size: 30px;
$dex_outsideColor: #05f;
$dexPlace_colorOut: #0ae;
$dexPlace_colorIn: #039;
$dexStats_colorIn: #0ae;
$dexStats_text: #0ae;
$dex_pokemon_size: 20px;
$dex_pokemon_colorIn: #000;
$dex_pokemon_colorOut: #fff;
$dex_pokemon_text_have: #0c0;
